node_modules/
build/
dist/
.env
*.env
.env.local
logs/
*.log
coverage/
uploads/
.DS_Store
*.tsbuildinfo
configs/

.env.backup
.env.*.backup

*.ppk
*.pem
*.key

bank.conf

*.tsbuildinfo
tsconfig.tsbuildinfo

frontend/build/

/tmp/
backend/uploads/
